################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmartCity.Core/bin/Debug/net8.0
/.vs
/SmartCity.Core/obj
/SmartCity.Database/bin/Debug/net8.0
/SmartCity.Database/obj
/SmartCity.Domain/bin/Debug/net8.0
/SmartCity.Domain/obj
/SmartCity.Interfaces/bin/Debug/net8.0
/SmartCity.Interfaces/obj
/SmartCity.MessageBroker/bin/Debug/net8.0
/SmartCity.MessageBroker/obj
/SmartCity.Web/bin/Debug/net8.0
/SmartCity.Web/obj
/Template.Database/Template.Database.dbmdl
/Template.Database/Template.Database.jfm
/Template.Logging/Template.Logging.dbmdl
/Template.Logging/Template.Logging.jfm
/Template.Database/bin/Debug
/Template.Database/obj/Debug
/Template.Logging/bin/Debug
/Template.Logging/obj/Debug
/SmartCity.Test/bin/Debug/net8.0
/SmartCity.Test/obj
/SmartCity.Core/bin/Release/net8.0
/SmartCity.Database/bin/Release/net8.0
/SmartCity.Domain/bin/Release/net8.0
/SmartCity.Interfaces/bin/Release/net8.0
/SmartCity.MessageBroker/bin/Release/net8.0
/SmartCity.Web/bin/Release/net8.0
/SmartCity.Test/bin/Release/net8.0
/SmartCity.MessageBrokerWorker/bin/Debug/net8.0
/SmartCity.MessageBrokerWorker/obj
/SmartCity.Web/Properties/PublishProfiles/FolderProfile.pubxml.user
/SmartCity.MessageBrokerWorker/bin/Release/net8.0
