<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogFile="c:\intaro\nlog\internal-nlog.txt">

	<extensions>
		<add assembly="SmartCity.Web"/>
		<add assembly="NLog.Web.AspNetCore"/>
		<add assembly="NLog.Extensions.Logging"/>
	</extensions>

	<targets>
		<target xsi:type="Null" name="blackhole" />


		<target name="requestdb" xsi:type="Database">

			<commandText>
				insert into dbo.RequestDataLogs (Application, Logged, Username, Ip, HttpMethod, Url, Request, Response, Logger, CorrelationID)
				values (@application, @logged, NULLIF(@username,''), NULLIF(@ip,''), NULLIF(@httpMethod,''), NULLIF(@url,''), NULLIF(@request,''), NULLIF(@response,''), @logger, NULLIF(@correlationID,''))
			</commandText>

			<parameter name="@application" layout="SmartCity.Portal" />
			<parameter name="@logged" layout="${event-properties:item=Timestamp}" />
			<parameter name="@username" layout="${event-properties:item=Username}" />
			<parameter name="@ip" layout="${event-properties:item=Ip}" />
			<parameter name="@httpMethod" layout="${event-properties:item=HttpMethod}" />
			<parameter name="@url" layout="${event-properties:item=Url}" />
			<parameter name="@request" layout="${event-properties:item=Request}" />
			<parameter name="@response" layout="${event-properties:item=Response}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@correlationID" layout="${event-properties:item=CorrelationID}" />

		</target>

		<target name="diagdb" xsi:type="Database">

			<commandText>
				insert into dbo.DiagnosticsLogs (Application, Logged, Level, Username, Ip, HttpMethod, Url, ElapsedMilliseconds, Logger, CorrelationID)
				values (@application, @logged, @level, NULLIF(@username,''), NULLIF(@ip,''), NULLIF(@httpMethod,''), NULLIF(@url,''), @elapsedMilliseconds, @logger, NULLIF(@correlationID,''))
			</commandText>

			<parameter name="@application" layout="SmartCity.Portal" />
			<parameter name="@logged" layout="${event-properties:item=Timestamp}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@username" layout="${event-properties:item=Username}" />
			<parameter name="@ip" layout="${event-properties:item=Ip}" />
			<parameter name="@httpMethod" layout="${event-properties:item=HttpMethod}" />
			<parameter name="@url" layout="${event-properties:item=Url}" />
			<parameter name="@elapsedMilliseconds" layout="${event-properties:item=ElapsedMilliseconds}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@correlationID" layout="${event-properties:item=CorrelationID}" />

		</target>

		<target name="appdb" xsi:type="Database">

			<commandText>
				insert into dbo.ApplicationLogs (Application, Logged, Level, Message, Logger, Exception, Username, Ip,  CorrelationID)
				values (@application, @logged, @level, NULLIF(@message,''), @logger, NULLIF(@exception,''), NULLIF(@username,''), NULLIF(@ip,''), NULLIF(@correlationID,''));
			</commandText>

			<parameter name="@application" layout="SmartCity.Portal" />
			<parameter name="@logged" layout="${event-properties:item=Timestamp}" />
			<parameter name="@level" layout="${level}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@exception" layout="${exception:tostring}" />
			<parameter name="@username" layout="${event-properties:item=Username}" />
			<parameter name="@ip" layout="${event-properties:item=Ip}" />
			<parameter name="@correlationID" layout="${event-properties:item=CorrelationID}" />

		</target>



		<target name="outrequestdb" xsi:type="Database">

			<commandText>
				insert into dbo.OutRequestDataLogs (Application, Logged, Username, Ip, HttpMethod, Url, Request, Response, Logger, CorrelationID, Endpoint)
				values (@application, @logged, NULLIF(@username,''), NULLIF(@ip,''), NULLIF(@httpMethod,''), NULLIF(@url,''), NULLIF(@request,''), NULLIF(@response,''), @logger, NULLIF(@correlationID,''), NULLIF(@endpoint,''))
			</commandText>

			<parameter name="@application" layout="SmartCity.Portal" />
			<parameter name="@logged" layout="${event-properties:item=Timestamp}" />
			<parameter name="@username" layout="${event-properties:item=Username}" />
			<parameter name="@ip" layout="${event-properties:item=Ip}" />
			<parameter name="@httpMethod" layout="${event-properties:item=HttpMethod}" />
			<parameter name="@url" layout="${event-properties:item=Url}" />
			<parameter name="@response" layout="${event-properties:item=Response}" />
			<parameter name="@request" layout="${event-properties:item=Request}" />
			<parameter name="@endpoint" layout="${event-properties:item=Endpoint}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@correlationID" layout="${event-properties:item=CorrelationID}" />

		</target>


		<target name="messagebrokerdb" xsi:type="Database">

			<commandText>
				insert into dbo.MessageBrokerDataLogs (Application, Logged, QueueName, Body, ContentType, MessageId, CorrelationId, DeliveryCount, ExpiresAt, [Subject], [To],Logger, SessionId,EdgeId)
				values (@application, @logged,@queueName, NULLIF(@body,''),NULLIF(@contentType,''), NULLIF(@messageId,''), NULLIF(@correlationId,''), NULLIF(@deliveryCount,''),@expiresAt, NULLIF(@subject,''), NULLIF(@to,''),NULLIF(@logger,''), NULLIF(@sessionId,''),NULLIF(@edgeId,''))
			</commandText>

			<parameter name="@application" layout="SmartCity.MessageBroker" />
			<parameter name="@logged" layout="${event-properties:item=Timestamp}" />
			<parameter name="@queueName" layout="${event-properties:item=QueueName}" />
			<parameter name="@body" layout="${event-properties:item=Body}" />
			<parameter name="@contentType" layout="${event-properties:item=ContentType}" />
			<parameter name="@messageId" layout="${event-properties:item=MessageId}" />
			<parameter name="@correlationId" layout="${event-properties:item=CorrelationId}" />
			<parameter name="@deliveryCount" layout="${event-properties:item=DeliveryCount}" />
			<parameter name="@expiresAt" layout="${event-properties:item=ExpiresAt}" />
			<parameter name="@subject" layout="${event-properties:item=Subject}" />
			<parameter name="@to" layout="${event-properties:item=To}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@sessionId" layout="${event-properties:item=SessionId}" />
			<parameter name="@edgeId" layout="${event-properties:item=EdgeId}" />

		</target>






	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
		<logger name="SmartCity.Core.Loggers.RequestDataLogger" minlevel="Info" writeTo="requestdb" />
		<logger name="SmartCity.Core.Loggers.DiagnosticsLogger" minlevel="Info" writeTo="diagdb" />
		<logger name="SmartCity.Core.Loggers.ApplicationLogger" minlevel="Info" writeTo="appdb" />
		<logger name="SmartCity.Core.Loggers.OutRequestDataLogger" minlevel="Info" writeTo="outrequestdb" />
		<logger name="SmartCity.Core.Loggers.MessageBrokerDataLogger" minlevel="Info" writeTo="messagebrokerdb" />
	</rules>
</nlog>