.sc-custom-inputs.form-input {
    width: 100%;
    height: 35px;
    background: #eeeef1 !important;
    background-color: #eeeef1;
    border-radius: 5px;
}

    .sc-custom-inputs.form-input:focus, .sc-custom-inputs.form-input:focus-visible {
        background: #FFF !important;
        background-color: #FFF;
    }

    .sc-custom-inputs.form-input.sc-sm-height {
        padding-top: 2px;
    }

    .form-control:focus, .form-control:focus-visible {
        box-shadow: none;
        outline: none;
        border: 1px solid #a20032;
        background-color: #a2003226
    }
.gn-btn{
    border:none;
    outline:none;
    background:none;
}
    .gn-btn.close-btn {
        opacity: 0.5;
    }

        .gn-btn.close-btn:hover {
            opacity: 1;
        }

        .sc-general-btn {
            height: 30px;
            width: 150px;
            background: #eeeef1;
            background-color: #eeeef1;
            border: 1px solid #eeeef1;
            border-radius: 10px;
            outline: none !important;
            box-shadow: none !important;
        }

    .sc-general-btn.ic-active.sc-abort {
        background: #d30000;
        border: 1px solid #d30000;
    }

    .sc-general-btn.ic-active.sc-succes {
        background: #11a400;
        border: 1px solid #11a400;
    }

    .sc-general-btn.ic-active.sc-close {
        background: #888888;
        border: 1px solid #888888;
    }


    .sc-general-btn:hover, .sc-general-btn.ic-active:hover,
    .sc-general-btn.ic-active.sc-abort:hover,
    .sc-general-btn.ic-active.sc-succes:hover {
        background: #d2d2d3;
        background-color: #d2d2d3;
        border-color: #d2d2d3;
        color: #212529 !important;
    }

    .sc-general-btn:active, .sc-general-btn:focus-visible,
    .sc-general-btn:focus, .sc-general-btn.ic-active {
        background: #a20032;
        background-color: #a20032;
        border-color: #a20032;
        color: #fff !important;
    }

    .sc-general-btn:focus, .sc-general-btn:focus-visible {
        outline: none;
    }

    .sc-general-btn.info-update-btn {
        background: #a20032;
        color: #fff;
        float: right;
    }

        .sc-general-btn.info-update-btn:hover {
            background: #810129;
        }

.sc-input {
    border: none;
    outline: none;
    padding: 2px 10px;
}

    .sc-input.date-select {
        border-radius: 5px;
        border: 1px solid #DCD9D9;
        max-width: 117px;
    }

.sc-general-btn.admin-table:hover {
    background: #a20132ba;
    color: #fff;
}

.sc-general-btn.admin-table.btn-delete-raw-data {
    background: #ff0000;
}

.sc-general-btn.admin-table {
    background: #a20132;
    color: #fff;
}

    .sc-general-btn.admin-table.btn-delete-raw-data:hover {
        background: #ff0000cf;
    }

.sc-sm-width {
    width: 100%;
    max-width: 140px !important;
}

.sc-md-width {
    width: 100%;
    max-width: 200px !important;
}

.sc-std-width {
    width: 100%;
    max-width: 250px !important;
}

.sc-xxxlg-width {
    width: 100%;
    max-width: 1000px !important;
}

.sc-sm-height{
    max-height:25px;
}

.sc-lg-width {
    width: 100%;
    max-width: 400px !important;
}

.sc-pagination-btn {
    background: #a20132 !important;
    color: #fff !important;
    border-radius: 50% !important;
    font-weight: 700 !important;
}
/*Carousel design*/
.carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

    .carousel-images img {
        max-width: 280px;
        max-height: 160px;
        border-radius: 10px;
        cursor: pointer;
    }

    .carousel-images img {
        max-width: 100%;
        flex-shrink: 0;
    }

.carousel-btn {
    position: relative;
    /*    top: 50%;*/
    /*    transform: translateY(-50%);*/
    background-color: #93A3BC;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 50%
}

    .carousel-btn i {
        font-size: 14px;
        width: 30px;
    }

    .carousel-btn.left i {
        transform: rotate(-180deg);
    }

    .carousel-btn.left {
        left: 0px;
        padding: 0px;
    }

    .carousel-btn.right {
        right: 0px;
        padding: 0px;
    }

/*End Carousel design*/

.info-table-view.grid-view-btn {
    background-color: #a20032;
    color: #fff;
    padding: 3px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

/*Home Page buttons*/

.sc-radio-btn {
    display: inline-block;
    margin-right: 40px;
    height: 29px
}

    .sc-radio-btn input[type="radio"] {
        display: none; /* Hide the default radio button */
    }

    .sc-radio-btn span {
        display: inline-block;
        padding: 2px 15px;
        background: none;
        border-radius: 11px;
        border: 1px solid #93a2bc;
        cursor: pointer;
        transition: all 0.3s ease;
        height: 29px;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
    }

    .sc-radio-btn input[type="radio"]:checked + span {
        background-color: #EEEEF1;
        color: #000;
        border-color: #EEEEF1;
    }

    .sc-radio-btn span:hover {
        background-color: #bbb;
        border-color: #aaa;
    }
/*Home Page buttons*/

.btn-group-admin-large-view {
    display: flex;
    justify-content: space-between;
}

/*Chat design detection*/

.chat-container.sc-chat {
    max-width: 600px;
    margin: 40px 100px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.chat-message.sc-chat {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-avatar.sc-chat {
    margin-right: 10px;
}

.avatar-circle.sc-chat {
    width: 40px;
    height: 40px;
    background-color: #a20132;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    text-transform: uppercase;
}

.chat-content.sc-chat {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    background: #e9ecef;
    position: relative;
}

.chat-header.sc-chat {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    color: #6c757d;
    margin-bottom: 5px;
    border-bottom: 1px solid #ced4da;
    padding-bottom: 6px;
}

.chat-user.sc-chat {
    color: #56595c;
    margin-right: 15px;
}

.chat-text.sc-chat {
    font-size: 14px;
    color: #333;
}

.no-chat.sc-chat {
    text-align: center;
    padding: 20px;
    color: #6c757d;
    font-style: italic;
}

.text-container.sc-chat {
    max-width: 600px;
    margin: 40px 100px;
    background: #ffffff;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

    .text-container.sc-chat textarea {
        width: 100%;
        height: 80px;
        border-radius: 8px;
        border: 1px solid #ced4da;
        padding: 10px;
        resize: none;
        font-size: 14px;
        outline: none;
    }

        .text-container.sc-chat textarea:hover, .text-container.sc-chat textarea:focus, .text-container.sc-chat textarea:focus-visible {
            border: 1px solid #a20132;
        }


.sc-big-btn {
    height: 20%;
    width: 50%;
}

.close-btn-modal {
    background: none;
    border: none;
    outline: none;
}

#show-big-preview {
    height: 100%;
    width: 100%;
    background: aqua;
    position: absolute;
    top: 0px;
    z-index: 100000;
    left: 0;
}

/*Chat design*/
.flow-container {
    display: flex;
    height:100%;
    max-height: 37vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px;
}

.chat-message-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 22vh;
    height:100%;
    max-height: 38vh;
    padding: 0px 30px 0px 20px;
}


.flux-log-single {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background: #E7E7E9;
    width: 75%;
    border-radius: 8px;
    padding: 10px 30px !important;
    margin-bottom: 25px;
}

    .flux-log-single.box-two {
        margin: 0px 0px 25px auto;
    }

.log-text {
    white-space: pre-line;
}
/*End Chat design*/

/* Responsive Design */
@media screen and (max-width: 768px) {
    .chat-container {
        max-width: 100%;
        padding: 5px;
    }

    .chat-message {
        flex-direction: column;
    }

    .chat-content {
        max-width: 100%;
    }
}

@media screen and (max-height: 1200px) {
    .flow-container {
        max-height: 36vh;
    }
}

@media screen and (max-height: 1080px) {
    .flow-container {
        max-height: 35vh;
    }
}

@media screen and (max-height: 1000px) {
    .flow-container {
        max-height: 33vh;
    }
}


@media screen and (max-height: 800px) {
    .flow-container {
        max-height: 31vh;
    }
}


@media screen and (max-height: 690px) {
    .flow-container {
        max-height: 29vh;
    }
}


/*End Chat design detection*/
