.login-container {
    display:flex;
    align-items:center;
    flex-direction:column;
    position: relative;
    top: 50%;
    max-width: 500px;
    width:100%;
    margin: 0 auto;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    gap:20px;
}

.login-top-bar{
    position:absolute;
    font-size:30px;
    top:5px;
}